<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>client</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/app.6596faf2da82587c287c4cfb89b0179d.css' %}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src="{% static 'js/manifest.2ae2e69a05c33dfc65f8.js' %}"></script>
<script type=text/javascript src="{% static 'js/vendor.3661e90836911f74c04a.js' %}"></script>
<script type=text/javascript src="{% static 'js/app.7b41eb2af6c152115b74.js' %}"></script>
</body>
</html>
